<header class="header__header">
    <div class="header__wrapper header__wrapper--alubumsdetails">
    <i class="fas fa-chevron-left"></i>
    <p class="Header__p-details">Text</p>
    </div>
</header>
<img class="header__albumsdetails" src="/assets/images/feature2.jpg" alt="">