<header class="header__header">
        <div class="header__wrapper">
        <i class="fas fa-chevron-left"></i>
        <p class="Header__p">Text</p>
        <i class="fas fa-search"></i>
        </div>
</header>