<footer>
    <a href="/artist"><i class="fas fa-heartbeat"></i></a>
    <a href="/albums"><i class="fas fa-microphone-alt"></i></a>

    <a href="/index.html"><i class="fas fa-music"></i> </a>
    <i class="fas fa-adjust" id="lightdark" onclick="toggleDarkLight()"></i>
    <a href="/playlist"><i class="fas fa-cog"></i></a>
    <script src="/assets/Javascript/playlist.js"></script>
    <script src="/assets/Javascript/lightdark.js"></script>
</footer>