.categories{
    width: 325px;
    height: 54px;
    background-color: red;
    margin-top: 10px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.categories-text{
    color: #FFFFFF;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 15px;
    margin-left: 20px;
}
.categories-white{
    color: #FFFFFF;
    margin-top: 5px;
    margin-right: 20px;
}
