footer{
    background-color: #111625;
    height: 65px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    left:0px;
    bottom:0px;
}
.fas{
    font-size: 35px;
    color: red
}